## Open the data file and have a look at the general information.

In [104]:
import pandas as pd; import numpy as np; import seaborn as sns; import matplotlib.pyplot as plt

In [105]:
df = pd.read_csv("credit_scoring_eng.csv")

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [107]:
df.shape

(21525, 12)

In [108]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
children,21525.0,0.538908,1.381587,-1.000000,0.000000,0.000000,1.000000,20.000000
days_employed,19351.0,63046.497661,140827.311974,-18388.949901,-2747.423625,-1203.369529,-291.095954,401755.400475
dob_years,21525.0,43.293380,12.574584,0.000000,33.000000,42.000000,53.000000,75.000000
education_id,21525.0,0.817236,0.548138,0.000000,1.000000,1.000000,1.000000,4.000000
family_status_id,21525.0,0.972544,1.420324,0.000000,0.000000,0.000000,1.000000,4.000000
debt,21525.0,0.080883,0.272661,0.000000,0.000000,0.000000,0.000000,1.000000
total_income,19351.0,26787.568355,16475.450632,3306.762000,16488.504500,23202.870000,32549.611000,362496.645000

### Conclusion

## Data preprocessing

### Processing missing values

In [109]:
df.isnull().values.any()

True

In [110]:
df.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [111]:
df.fillna(df.mean(), inplace=True)

In [112]:
df.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Conclusion

### Data type replacement

In [114]:
df.dtypes

children              int64
days_employed       float64
dob_years             int64
education            object
education_id          int64
family_status        object
family_status_id      int64
gender               object
income_type          object
debt                  int64
total_income        float64
purpose              object
dtype: object

In [115]:
df['total_income'].astype('int')

0        40620
1        17932
2        23341
3        42820
4        25378
         ...
21520    35966
21521    24959
21522    14347
21523    39054
21524    13127
Name: total_income, Length: 21525, dtype: int64

In [116]:
df["total_income"] = df['total_income'].astype('int')
df.dtypes

children              int64
days_employed       float64
dob_years             int64
education            object
education_id          int64
family_status        object
family_status_id      int64
gender               object
income_type          object
debt                  int64
total_income          int64
purpose              object
dtype: object

### Conclusion

### Processing duplicates

### Conclusion

### Categorizing Data

### Conclusion

## Answer these questions
- Is there a connection between having kids and repaying a loan on time?
- Is there a connection between marital status and repaying a loan on time?
- Is there a connection between income level and repaying a loan on time?
- How do different loan purposes affect on-time loan repayment?

### Conclusion

## SUMMARY

## Project Readiness Checklist

Put 'x' in the completed points. Then press Shift + Enter.

- [x] file open;
- [ ] file examined;
- [ ] missing values defined;
- [ ] missing values are filled;
- [ ] an explanation of which missing value types were detected;
- [ ] explanation for the possible causes of missing values;
- [ ] an explanation of how the blanks are filled;
- [ ] replaced the real data type with an integer;
- [ ] an explanation of which method is used to change the data type and why;
- [ ] duplicates deleted;
- [ ] an explanation of which method is used to find and remove duplicates;
- [ ] description of the possible reasons for the appearance of duplicates in the data;
- [ ] data is categorized;
- [ ] an explanation of the principle of data categorization;
- [ ] an answer to the question "Is there a relation between having kids and repaying a loan on time?";
- [ ] an answer to the question " Is there a relation between marital status and repaying a loan on time?";
- [ ] an answer to the question " Is there a relation between income level and repaying a loan on time?";
- [ ] an answer to the question " How do different loan purposes affect on-time repayment of the loan?"
- [ ] conclusions are present on each stage;
- [ ] a general conclusion is made.