## Problems:
*

## Open the data file and have a look at the general information.

In [1]:
# We import the necessary libraries

import pandas as pd; import numpy as np; import seaborn as sns; import matplotlib.pyplot as plt

In [2]:
# We are reading our csv file named "credit_scoring_eng.csv"
df = pd.read_csv("credit_scoring_eng.csv")

In [3]:
#Let's look at the general information of our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [30]:
#we look at matrix measures of data
df.shape

(21525, 12)

In [31]:
# Let's look at the brief analysis of the columns:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
children,21525.0,0.538908,1.381587,-1.000000,0.000000,0.000000,1.000000,20.000000
days_employed,19351.0,63046.497661,140827.311974,-18388.949901,-2747.423625,-1203.369529,-291.095954,401755.400475
dob_years,21525.0,43.293380,12.574584,0.000000,33.000000,42.000000,53.000000,75.000000
education_id,21525.0,0.817236,0.548138,0.000000,1.000000,1.000000,1.000000,4.000000
family_status_id,21525.0,0.972544,1.420324,0.000000,0.000000,0.000000,1.000000,4.000000
debt,21525.0,0.080883,0.272661,0.000000,0.000000,0.000000,0.000000,1.000000
total_income,19351.0,26787.568355,16475.450632,3306.762000,16488.504500,23202.870000,32549.611000,362496.645000

### Conclusion
*

## Data preprocessing

### Processing missing values

In [32]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding

In [33]:
#We are deleting some titles as they will not be useful to us.

# df = df.drop(df.columns[["",5]], axis=1)

In [34]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding

In [35]:
#check for missing values
df.isnull().values.any()

True

In [36]:
# which values?
df.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [37]:
# add a new category that we will classify according to income status
kategori = []
for i in df["total_income"]:
    if i < 17224:
        kategori.append("low")
    elif i < 24976:
        kategori.append("midle")
    elif i < 31320:
        kategori.append("high")
    else:
        kategori.append("rich")

In [38]:
len(kategori)

21525

In [39]:
df["income_category"]= kategori

In [40]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,income_category
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house,rich
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase,midle
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house,midle
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education,rich
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding,high

In [41]:
df.groupby(["income_category","total_income"]).count()

                              children  days_employed  dob_years  education  \
income_category total_income
high            24976.853            1              1          1          1
                24978.041            1              1          1          1
                24979.222            1              1          1          1
                24980.993            1              1          1          1
                24983.260            1              1          1          1
...                                ...            ...        ...        ...
rich            273809.483           1              1          1          1
                274402.943           1              1          1          1
                276204.162           1              1          1          1
                352136.354           1              1          1          1
                362496.645           1              1          1          1

                              education_id  family_status  family_status_id  \
income_category total_income
high            24976.853                1              1                 1
                24978.041                1              1                 1
                24979.222                1              1                 1
                24980.993                1              1                 1
                24983.260                1              1                 1
...                                    ...            ...               ...
rich            273809.483               1              1                 1
                274402.943               1              1                 1
                276204.162               1              1                 1
                352136.354               1              1                 1
                362496.645               1              1                 1

                              gender  income_type  debt  purpose
income_category total_income
high            24976.853          1            1     1        1
                24978.041          1            1     1        1
                24979.222          1            1     1        1
                24980.993          1            1     1        1
                24983.260          1            1     1        1
...                              ...          ...   ...      ...
rich            273809.483         1            1     1        1
                274402.943         1            1     1        1
                276204.162         1            1     1        1
                352136.354         1            1     1        1
                362496.645         1            1     1        1

[19348 rows x 11 columns]

In [42]:
df[df.income_category == "low"]["total_income"]

8        15337.093
11       12331.077
17       14465.694
18        9091.804
25        8818.041
           ...
21507    15708.845
21508    11622.175
21509    11684.650
21522    14347.610
21524    13127.587
Name: total_income, Length: 5367, dtype: float64

In [43]:
df.loc[(df.income_category == "low"), ["total_income","days_employed"]]

       total_income  days_employed
8         15337.093   -6929.865299
11        12331.077    -792.701887
17        14465.694   -2369.999720
18         9091.804  400281.136913
25         8818.041  363548.489348
...             ...            ...
21507     15708.845     -79.832064
21508     11622.175  386497.714078
21509     11684.650  362161.054124
21522     14347.610   -2113.346888
21524     13127.587   -1984.507589

[5367 rows x 2 columns]

In [44]:
df.groupby("income_category").mean()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
income_category,,,,,,,
high,0.509701,49970.205671,42.487527,0.801047,0.951648,0.089929,27827.019291
low,0.498230,96843.876830,44.734861,0.925284,0.973169,0.079560,12953.017963
midle,0.562034,61716.894901,43.116617,0.849478,1.001863,0.087370,20948.578546
rich,0.563967,38499.187867,42.740422,0.724380,0.960228,0.073313,45826.240743

In [45]:
df.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
income_category        0
dtype: int64

### Conclusion

### Data type replacement

In [46]:
df.dtypes

children              int64
days_employed       float64
dob_years             int64
education            object
education_id          int64
family_status        object
family_status_id      int64
gender               object
income_type          object
debt                  int64
total_income        float64
purpose              object
income_category      object
dtype: object

In [47]:
df["total_income"].describe()

count     19351.000000
mean      26787.568355
std       16475.450632
min        3306.762000
25%       16488.504500
50%       23202.870000
75%       32549.611000
max      362496.645000
Name: total_income, dtype: float64

In [48]:
df["total_income"] = df["total_income"].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [49]:
df.dtypes

children              int64
days_employed       float64
dob_years             int64
education            object
education_id          int64
family_status        object
family_status_id      int64
gender               object
income_type          object
debt                  int64
total_income        float64
purpose              object
income_category      object
dtype: object

### Conclusion

### Processing duplicates

In [50]:
df.duplicated().sum()

54

In [51]:
df.drop_duplicates(inplace = True)

In [52]:
df.shape

(21471, 13)

### Conclusion

### Categorizing Data

>### <font color='orange'>Tavsiye: </font> Gelirlerine gore kateorilere ayirabilirsin burda (yani dusuk, orta, yuksek diye 3 kategori olabilir, 4-5'de yapabilirsin).

In [53]:
df[(df["family_status"] == "married") & (df["income_category"] == "midle")]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,income_category
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase,midle
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house,midle
7,0,-152.779569,50,SECONDARY EDUCATION,1,married,0,M,employee,0,21731.829,education,midle
9,0,-2188.756445,41,secondary education,1,married,0,M,employee,0,23108.150,purchase of the house for my family,midle
10,2,-4171.483647,36,bachelor's degree,0,married,0,M,business,0,18230.959,buy real estate,midle
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21493,1,-1214.858885,38,secondary education,1,married,0,F,employee,0,23600.416,purchase of the house for my family,midle
21496,1,-759.680851,31,secondary education,1,married,0,F,employee,0,19102.819,to buy a car,midle
21515,1,-467.685130,28,secondary education,1,married,0,F,employee,1,17517.812,to become educated,midle
21518,0,373995.710838,59,SECONDARY EDUCATION,1,married,0,F,retiree,0,24618.344,purchase of a car,midle
21521,0,343937.404131,67,secondary education,1,married,0,F,retiree,0,24959.969,purchase of a car,midle

In [54]:
df.query("family_status == married and income_category == midle")

UndefinedVariableError: name 'married' is not defined

In [55]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,income_category
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house,rich
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase,midle
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house,midle
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education,rich
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding,high

In [56]:
from nltk.tokenize import word_tokenize

In [57]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/huseyintunc/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [58]:
text = df.purpose[1]
text

'car purchase'

In [59]:
word_list = word_tokenize(text)
word_list

['car', 'purchase']

In [60]:
from nltk.stem import SnowballStemmer
stemmer = SnowballStemmer('english')

In [61]:
for word in word_list:
    print(stemmer.stem(word))

car
purchas

In [62]:
df.purpose.unique()

array(['purchase of the house', 'car purchase', 'supplementary education',
       'to have a wedding', 'housing transactions', 'education',
       'having a wedding', 'purchase of the house for my family',
       'buy real estate', 'buy commercial real estate',
       'buy residential real estate', 'construction of own property',
       'property', 'building a property', 'buying a second-hand car',
       'buying my own car', 'transactions with commercial real estate',
       'building a real estate', 'housing',
       'transactions with my real estate', 'cars', 'to become educated',
       'second-hand car purchase', 'getting an education', 'car',
       'wedding ceremony', 'to get a supplementary education',
       'purchase of my own house', 'real estate transactions',
       'getting higher education', 'to own a car', 'purchase of a car',
       'profile education', 'university education',
       'buying property for renting out', 'to buy a car',
       'housing renovation', 'going to university'], dtype=object)

In [63]:
from collections import Counter

# collect purposes in all rows, and then make a big list containing all words
# go through all words and get their stems. Sort stems according to their frequency with Counter
words_list =[]
for sentence in df.purpose:
    words = word_tokenize(sentence)
    for word in words:
        stemmed = stemmer.stem(word)
        words_list.append(stemmed)
Counter(words_list).most_common()

[('a', 5117),
 ('real', 4466),
 ('estat', 4466),
 ('car', 4308),
 ('buy', 3996),
 ('hous', 3809),
 ('educ', 3518),
 ('purchas', 3306),
 ('to', 3071),
 ('of', 2994),
 ('transact', 2604),
 ('properti', 2539),
 ('my', 2390),
 ('wed', 2335),
 ('own', 2239),
 ('have', 1542),
 ('get', 1315),
 ('commerci', 1312),
 ('for', 1290),
 ('the', 1284),
 ('with', 1277),
 ('build', 1244),
 ('second-hand', 964),
 ('univers', 948),
 ('supplementari', 907),
 ('ceremoni', 793),
 ('rent', 652),
 ('out', 652),
 ('famili', 638),
 ('construct', 635),
 ('renov', 607),
 ('residenti', 606),
 ('go', 496),
 ('an', 442),
 ('profil', 436),
 ('higher', 426),
 ('becom', 408)]

In [64]:
df.purpose[101]

'buying my own car'

In [65]:
def purpose_shorter(purpose):
    """takes purpose, makes lsit of words in it and then obtains stems of those words,
    while producing list of stems. Later it checks each purpose if it contains
    specific stem, then assing categories: house, car, education and wedding"""
    stems =[]
    words = word_tokenize(purpose)
    for word in words:
        stemmed = stemmer.stem(word)
        stems.append(stemmed)
    if ('hous' in stems) or ('properti' in stems) or ('estat' in stems):
        return 'house'
    if 'car' in stems:
        return 'car'
    if ('educ'in stems) or ('univers' in stems):
        return 'education'
    if 'wed' in stems:
        return 'wedding'
    else:
        return float('NaN')


# check if the function is working properly
print(purpose_shorter(df.purpose[101]))

car

In [66]:
#apply the function the data and make a new column
df['purpose_category'] = df.purpose.apply(purpose_shorter)

#check new data
df.sample(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,income_category,purpose_category
7697,2,-600.857745,37,secondary education,1,civil partnership,1,F,business,0,10980.249,car,low,car
10888,0,-734.711073,45,secondary education,1,married,0,F,employee,0,8274.470,housing renovation,low,house
6646,0,-379.942017,48,secondary education,1,married,0,F,employee,0,36859.216,buying a second-hand car,rich,car
3715,0,-3396.168085,31,secondary education,1,married,0,F,civil servant,0,23320.927,property,midle,house
868,0,-97.643431,37,secondary education,1,unmarried,4,M,employee,1,56393.103,housing renovation,rich,house

In [67]:
df.purpose_category.nunique()

4

In [68]:
#Is there a connection between having kids and repaying a loan on time?
pivot_table_kid = df.pivot_table(values=None, index="debt", columns="children", aggfunc={'debt':['count']}, fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)

In [69]:
#calculate the percentage of customers who defaulted out of total customers
# and add this percantge as a third row of the pivot table
pivot_table_kid.loc['defaulted %'] = pivot_table_kid.loc[1]*100/(pivot_table_kid.loc[0] + pivot_table_kid.loc[1])
pivot_table_kid

                 debt                                                      \
                count
children          -1             0            1            2           3
debt
0            46.00000  13044.000000  4365.000000  1858.000000  303.000000
1             1.00000   1063.000000   444.000000   194.000000   27.000000
defaulted %   2.12766      7.535266     9.232689     9.454191    8.181818



children            4    5          20
debt
0            37.000000  9.0  68.000000
1             4.000000  NaN   8.000000
defaulted %   9.756098  NaN  10.526316

In [70]:
# Is there a connection between marital status and repaying a loan on time?

In [71]:
pivot_table_marital = df.pivot_table(values=None, index="debt", columns="family_status", aggfunc={'debt':['count']}, fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)
pivot_table_marital.loc['defaulted %'] = pivot_table_marital.loc[1]*100/(pivot_table_marital.loc[0] + pivot_table_marital.loc[1])
pivot_table_marital

                           debt                                         \
                          count
family_status civil partnership     divorced       married   unmarried
debt
0                   3775.000000  1110.000000  11413.000000  2536.00000
1                    388.000000    85.000000    931.000000   274.00000
defaulted %            9.320202     7.112971      7.542126     9.75089



family_status widow / widower
debt
0                  896.000000
1                   63.000000
defaulted %          6.569343

In [ ]:
#Is there a connection between income level and repaying a loan on time?

In [73]:
pivot_table_income = df.pivot_table(values=None, index="debt", columns="income_category", aggfunc={'debt':['count']}, fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)
pivot_table_income.loc['defaulted %'] = pivot_table_income.loc[1]*100/(pivot_table_income.loc[0] + pivot_table_income.loc[1])
pivot_table_income

                        debt
                       count
income_category         high          low       midle         rich
debt
0                2955.000000  4940.000000  4899.00000  6936.000000
1                 292.000000   427.000000   469.00000   553.000000
defaulted %         8.992917     7.956028     8.73696     7.384163

In [74]:
pivot_table_purpose = df.pivot_table(values=None, index="debt", columns="purpose_category", aggfunc={'debt':['count']}, fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)
pivot_table_purpose.loc['defaulted %'] = pivot_table_purpose.loc[1]*100/(pivot_table_purpose.loc[0] + pivot_table_purpose.loc[1])
pivot_table_purpose

                         debt
                        count
purpose_category          car    education         house      wedding
debt
0                 3905.000000  3644.000000  10032.000000  2149.000000
1                  403.000000   370.000000    782.000000   186.000000
defaulted %          9.354689     9.217738      7.231367     7.965739

### Conclusion

## Answer these questions
- Is there a connection between having kids and repaying a loan on time?
- Is there a connection between marital status and repaying a loan on time?
- Is there a connection between income level and repaying a loan on time?
- How do different loan purposes affect on-time loan repayment?

>### <font color='orange'>Tavsiye: </font> Her soruyu yaparken ayri bi bashlik altinda yapabilirsin!

In [ ]:
dfc = df[["children","debt"]]
dfc

In [ ]:
df[df["children"]== 20]

>### <font color='red'>Sorun: </font> -1 tane cocuk, veya 20 tane cocuk olan kisiler var, onlar gayet normal mi? yoksa hata falan olabilir mi? Eger hataysa nasil duzeltebiliriz?

In [ ]:
#
sns.barplot(x = "children", y = "debt", data = dfc);

>### <font color='red'>Sorun: </font> Tum graphs icin gecerli: 1) plot_title eklenmesi lazim; 2) x and y axis label eklenmesi lazim; 3) kissadan hisse seklinde bir iki cumleyle graph'da neler gorebiliyorsun/ onu nasil yorumlarsin eklebeilir!

In [ ]:
sns.boxplot(x="children", hue="debt", data=dfc);

In [ ]:
(sns
 .FacetGrid(df,
            hue = "children",
            height = 5,
            xlim = (0,0.1))
 .map(sns.kdeplot,"debt", shade = True)
 .add_legend()
 );

>### <font color='green'>Guzel: </font> Bu graphí cok sevdim. Fakat, yukarida dedigim gibi -1 ve 20 falan duzeltildikten sonra x ve y oklarinin ne anlama geldigi, ve gorselden nasil bir sonuc cikardigimizi yazarsan super olur!

In [ ]:
df.groupby(["children","debt"]).count()

### Conclusion

## SUMMARY

## Project Readiness Checklist

Put 'x' in the completed points. Then press Shift + Enter.

- [x] file open;
- [ ] file examined;
- [ ] missing values defined;
- [ ] missing values are filled;
- [ ] an explanation of which missing value types were detected;
- [ ] explanation for the possible causes of missing values;
- [ ] an explanation of how the blanks are filled;
- [ ] replaced the real data type with an integer;
- [ ] an explanation of which method is used to change the data type and why;
- [ ] duplicates deleted;
- [ ] an explanation of which method is used to find and remove duplicates;
- [ ] description of the possible reasons for the appearance of duplicates in the data;
- [ ] data is categorized;
- [ ] an explanation of the principle of data categorization;
- [ ] an answer to the question "Is there a relation between having kids and repaying a loan on time?";
- [ ] an answer to the question " Is there a relation between marital status and repaying a loan on time?";
- [ ] an answer to the question " Is there a relation between income level and repaying a loan on time?";
- [ ] an answer to the question " How do different loan purposes affect on-time repayment of the loan?"
- [ ] conclusions are present on each stage;
- [ ] a general conclusion is made.